/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

body {
  font-family: 'Montserrat', sans-serif;
}
